.card-content{
	 img{
	position:relative;
	float:left;
	margin-top:25px;
	}
   .cardText{
	position:relative;
	float:left;
	margin-left:25px;
	}
}
.card .card-action{
	position: relative;
  height: 50px;
  margin-top: 140px;
  padding: 0;
    width:99%;
}
.aboutCard{
	padding:15px 15px 2% 15px!important;
	margin:0;
	width:100%;
	height: auto;

}
.aboutText{
	font-size:1.5em;
}
.aboutTitle{
	margin:2% 0 0 6%;
}
