.input-field input[type=text]:focus, label.active {
  color: $primary-color !important;
}
.input-field .prefix.active{
  color:$primary-color;
}
input#submit{
    background: none;
    border: none;
    font-size: 1.1em;
    font-weight: normal;
    font-style: normal;
    padding: 6px;
    line-height: 25px;
}
.modal-footer i {
  margin-left: 15px!important;
  margin-right: 15px!important;
}
