.footerCard{
  margin-top:0!important;
  margin-bottom:0!important;
  border-top: 5px solid $primary-color;
  h5{
    font-size:1.5rem;
    margin-bottom:5px;
  }
  .businessHours{
      margin-top:0;
  }
}
