@media screen and (min-width:1279px) and (max-width:1281px) and (min-height:799px) and (max-height:801px){
/*header*/
    
    .header nav{
        margin:30px 0 0 20%;   
    }
    .contentMain{
     height:800px;   
    }
    .logoMain{
        margin-left: 36%;   
        margin-top: 15%;
    }
    .showCaseImage{
      margin-left: 21%;
      width: 55%;
      margin-top: 90px;
        -webkit-clip-path: circle(300px); 
    }
    .logoContainer:hover .showCaseImage{
    -webkit-clip-path: circle(350px);   
}
    .logoContainer:hover .logoMain{
        margin-left: 5%;   
        width:22%;
    }

/* end header*/
    
/* gallery */
    .galleryContainer{
    }
    
/* end gallery */

/* About Us */
.contentAbout{
    height:450px;
}
.sectionAboutHeader{
    width:95%;   
}
.aboutText{
    width: 22%;
    margin-left: 3%;
}
/* end About Us */
    
/* Contact Us */
.contentContact{
    height:450px;   
}
.sectionContactHeader{
   width:95%;
    left:5%;
    top:15%;
}
    
/*`end Contact Us */
}
@media screen and (min-width:1279px) and (max-width:1281px) and (min-height:949px)and(max-height:951px){
    
    /*header*/
    
    .header nav {
        margin: 30px 0 0 5%;
    }
    .contentMain{
     height:800px;   
    }
    .logoMain{
        margin-left: 36%;   
        margin-top: 15%;
    }
    .showCaseImage{
      margin-left: 21%;
      width: 55%;
      margin-top: 90px;
        -webkit-clip-path: circle(300px); 
    }
    .logoContainer:hover .showCaseImage{
    -webkit-clip-path: circle(350px);   
}
    .logoContainer:hover .logoMain{
        margin-left: 5%;   
        width:22%;
    }

/* end header*/
    
/* gallery */
    .galleryContainer{
    }
    
/* end gallery */

/* About Us */
.contentAbout{
    height:450px;
}
.sectionAboutHeader{
    width:95%;   
}
.aboutText{
    width: 22%;
    margin-left: 3%;
}
/* end About Us */
    
/* Contact Us */
.contentContact{
    height:450px;   
}
.sectionContactHeader{
   width:95%;
    left:5%;
    top:15%;
}
    
/*`end Contact Us */

}
@media screen and (min-width:1399px) and (max-width:1401px){
/*header*/
      
    .header nav{
        margin:30px 0 0 20%;   
    }
     .logoMain{
        margin-left: 36%;   
        margin-top: 15%;
    }
    .showCaseImage{
      margin-left: 13%;
      width: 55%;
      margin-top: 90px;
        -webkit-clip-path: circle(300px); 
    }
    .logoContainer:hover .showCaseImage{
    -webkit-clip-path: circle(350px);   
}
    .logoContainer:hover .logoMain{
        margin-left: 5%;   
        width:22%;
    }
/* end header*/
    
/* gallery */

/* end gallery */

/* About Us */
.contentAbout{
    height:450px;
}
.sectionAboutHeader{
    width:95%;   
}
.aboutText{
    width: 22%;
    margin-left: 3%;
}
/* end About Us */
    
/* Contact Us */
.contentContact{
    height:330px;   
}
.transparentContactSpace{
    height:40%;   
}
input, textarea{
    font: 17px "Arial", sans-serif;
}
input[type="submit"] {
    height: 75%;
}
/*`end Contact Us */
}

@media screen and (min-width:1439px) and (max-width:1441px){
/*header*/
      
    .header nav{
        margin:30px 0 0 20%;   
    }
   .logoMain{
        margin-left: 41%;   
        margin-top: 20%;
    }
    .showCaseImage{
      margin-left: 15%;
      width: 70%;
      margin-top: 84px;
        -webkit-clip-path: circle(350px); 
    }
    .logoContainer:hover .showCaseImage{
    -webkit-clip-path: circle(400px);   
}
    .logoContainer:hover .logoMain{
        margin-left: 5%;   
        width:22%;
    }
/* end header*/
    
/* gallery */
   .imagesList{
        height:85%;   
   }
/* end gallery */

/* About Us */
.contentAbout{
    height:450px;
}
.sectionAboutHeader{
    width:95%;   
}
.aboutText{
    width: 22%;
    margin-left: 3%;
}
/* end About Us */
    
/* Contact Us */
.contentContact{
    height:373px;   
}
.transparentContactSpace{
    height:55%;   
}
input, textarea{
    font: 17px "Arial", sans-serif;
}
input[type="submit"] {
    height: 75%;
}
/*`end Contact Us */
}